// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('../../public/images/background.jpg');
  color: #34383d;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

button {
  border: 0;
  border-radius: 4px;
  color: #34383d;
  font-weight: bold;
  padding: 4px 6px;
  width: auto;
}

#brainsID {
  margin-bottom: 5px;
  margin-top: 5px;
}

#die1 {
  height: 50px;
  width: 50px;
}

#die2 {
  height: 50px;
  width: 50px;
}

#die3 {
  height: 50px;
  width: 50px;
}

#feetID {
  margin-bottom: 5px;
  margin-top: 5px;
}

#shotsID {
  margin-bottom: 5px;
  margin-top: 5px;
}
